.appStoreIcons {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.getAppHeading {
    padding-top: 15px;
    padding-bottom: 15px;
}

.getAppIcons>img {
    margin: 0px 5px 10px;
}