
.main{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* gap:10px; */

}

.imageContainer{
  height: 83vh;
  width: 450px;
  background-image: url('../images/home-phones.png');
background-repeat: no-repeat;

}
#add{
  transition-timing-function: ease-out;
  position: relative;
  top: 4%;
  left: 35%;
}


