.suggestionContainer{

margin: 40px 0px 10px 0px;


}
.userDetails{
display: flex;
align-items: center;
justify-content: space-between;


}

.userProfile{
  display: flex;
  gap: 10px;
}



/* .userProfile>img{
border: 2px solid rgb(232, 33, 33);

} */

.userDetail{
justify-content: center;
margin-left: 10px;
min-height: 40px;
}

/* .userDetail{
  justify-content: center;
  margin-left: 10px;
  min-height: 40px;
} */
.userDetail>span{
  color: #737373;
  font-size: 12px;
  /* margin-left: 10px; */
}


.switchButton>button{
  color: #0095F6;
  font-size: 12px;
  background-color: transparent;
padding-bottom: 7px;
}


/* sugeeee */


.suggestedUserProfile{
  display: flex;
align-items: center;
justify-content: space-between;
/* margin-left: 10px; */

}
.suggestionHeading{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #737373;
  margin: 5px 0px 5px 3px;
  font-weight: 600;

}
.suggestionHeading>button{
  font-weight: 500;
  font-size: 12px;
}