.mainFooter {
    height: auto;
    color: rgba(var(--ig-secondary-text));
    font-weight: var(--font-weight-system-semibold);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footerLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.footerLinks > a {
    color: inherit;
    text-decoration: none;
    padding: 0px 5px;
}

.links {
    color: inherit;
    font-size: inherit;
}

.laguageSelection {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    border: none;
}
