.horizontal {

    width: 100%;
    color: rgb(var(--ig-secondary-text));
    font-family: var(--font-family-system);
    font-size: 14px;
    font-weight: var(--font-weight-system-semibold);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0px 10px 0px;
}

.line {
    width: 40%;
    opacity: 0.3;
}


/* inout field change css */
.inputWithLabel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 268px;
  color: rgba(var(--grey-5));
  border: 1px solid rgb(var(--grey-2)); 
  background-color: #fafafa;
  font-weight: normal;
  }
  .spanPassword{
  font-size: var(--system-12-font-size);
  padding-bottom: 2px;
  }
  .userNameInput{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 9x 0px 7px 8px;
  }
  .userNameInput>input[type=text]{
  border: none;
  font-size: 13px;
  border-radius: 1px;

  }
  .userNameInput>input[type=password]{
    border: none;
    font-size: 13px;
    border-radius: 1px;
  }
  
  .userNameInput>input[type=text],input[type=password]:focus{
    outline: none;
  }
  
  .currentValue{
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 8px;
  }
  .changeValue{
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 8px;
  }


  /* for inner content in input field  */
  .InputIneerBtnHide{
display: none;
  }
  .show{
display: block;
  }





 