.horizontal {

    width: 100%;
    color: rgb(var(--ig-secondary-text));
    font-family: var(--font-family-system);
    font-size: 14px;
    font-weight: var(--font-weight-system-semibold);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0px 10px 0px;
}

.line {
    width: 40%;
    opacity: 0.3;
}