:root{
  --base-unit: 4px;
    --blue-0: 245, 251, 255;
    --blue-1: 224, 241, 255;
    --blue-2: 179, 219, 255;
    --blue-3: 112, 188, 255;

    --blue-4: 71, 175, 255;
    --blue-5: 0, 149, 246;
    --blue-6: 0, 116, 204;
    --blue-7: 0, 87, 163;
    --blue-8: 0, 55, 107;
    --blue-9: 0, 41, 82;
    --challenge-link: 54, 54, 54;
    --creation-header-height: 43px;
    --creation-min-padding-x: 32px;
    --creation-modal-max-height: 898px;
    --creation-modal-min-height: 391px;
    --creation-padding-x: 64px;
    --creation-padding-y: 112px;
    --creation-settings-width: 340px;
    --cyan-5: 39, 196, 245;
    --desktop-grid-item-margin: 28px;
    --desktop-in-feed-story-item-height: 208px;
    --desktop-in-feed-story-item-width: 116px;
    --direct-attachment-image-grid-item-size: 78px;
    --direct-attachment-story-height: 150px;
    --direct-attachment-story-large-height: 256px;
    --direct-attachment-story-large-width: 164px;
    --direct-attachment-story-width: 84px;
    --direct-message-max-width: 236px;
    --fb-signup-page-profile-pic-size: 88px;
    --feed-sidebar-padding: 32px;
    --feed-sidebar-padding-familiar: 64px;
    --feed-sidebar-width: 319px;
    --font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-weight-system-bold: 700;
    --font-weight-system-extra-bold: 800;
    --font-weight-system-extra-light: 200;
    --font-weight-system-light: 300;
    --font-weight-system-medium: 500;
    --font-weight-system-regular: 400;
    --font-weight-system-semibold: 600;
    --gradient-lavender: 211, 0, 197;
    --gradient-orange: 255, 122, 0;
    --gradient-pink: 255, 1, 105;
    --gradient-purple: 118, 56, 250;
    --gradient-red: 255, 48, 64;
    --gradient-yellow: 255, 214, 0;
    --green-4: 120, 222, 69;
    --green-5: 88, 195, 34;
    --green-6: 55, 166, 0;
    --grey-0: 245, 245, 245;
    --grey-1: 239, 239, 239;
    --grey-2: 219, 219, 219;
    --grey-3: 199, 199, 199;
    --grey-4: 168, 168, 168;
    --grey-5: 142, 142, 142;
    --grey-6: 115, 115, 115;
    --grey-7: 85, 85, 85;
    --grey-8: 54, 54, 54;
    --grey-9: 38, 38, 38;
    --grey-10: 26, 26, 26;
    --ig-badge: 255, 48, 64;
    --ig-banner-background: 255, 255, 255;
    --ig-close-friends-refreshed: 28, 209, 79;
    --ig-disabled-action-text: 169, 219, 255;
    --ig-elevated-background: 255, 255, 255;
    --ig-elevated-highlight-background: #efefef;
    --ig-elevated-separator: 219, 219, 219;
    --ig-error-or-destructive: 237, 73, 86;
    --ig-facebook-blue: 53, 121, 234;
    --ig-focus-stroke: 168, 168, 168;
    --ig-highlight-background: 239, 239, 239;
    --ig-hover-overlay: 0, 0, 0, .05;
    --ig-link: 0, 55, 107;
    --ig-live-badge: 255, 1, 105;
    --ig-primary-background: 255, 255, 255;
    --ig-primary-button: 0, 149, 246;
    --ig-primary-button-hover: 24, 119, 242;
    --ig-primary-text: 38, 38, 38;
    --ig-secondary-background: 250, 250, 250;
    --ig-secondary-button: 38, 38, 38;
    --ig-secondary-button-background: 239, 239, 239;
    --ig-secondary-button-hover: 219, 219, 219;
    --ig-secondary-button-focused: 224, 241, 255;
    --ig-tertiary-button-background: 255, 255, 255;
    --ig-tertiary-button-border: 219, 219, 219;
    --ig-tertiary-button-hover: 245, 245, 245;
    --ig-tertiary-button-text: 38, 38, 38;
    --ig-secondary-text: 142, 142, 142;
    --ig-separator: 219, 219, 219;
    --ig-stroke: 219, 219, 219;
    --ig-subscribers-only: 118, 56, 250;
    --ig-success: 88, 195, 34;
    --ig-temporary-highlight: 245, 251, 255;
    --ig-tertiary-text: 199, 199, 199;
    --ig-text-on-color: 255, 255, 255;
    --ig-text-on-media: 255, 255, 255;
    --in-feed-story-item-height: 240px;
    --in-feed-story-item-width: 135px;
    --input-border-radius: 6px;
    --large-layout-min: 1500px;
    --live-video-border-radius: 4px;
    --media-info: 335px;
    --medium-layout-max: 1499px;
    --medium-layout-min: 1080px;
    --mobile-grid-item-margin: 2px;
    --mobile-nav-height: 45px;
    --modal-backdrop-dark: rgba(0, 0, 0, .85);
    --modal-backdrop-default: rgba(0, 0, 0, .65);
    --modal-border-radius: 12px;
    --modal-padding: 16px;
    --modal-z-index: 100;
    --nav-narrow-width: 72px;
    --nav-medium-width: 244px;
    --nav-wide-width: 335px;
    --orange-5: 253, 141, 50;
    --photo: 600px;
    --pink-5: 209, 8, 105;
    --post-separator: 239, 239, 239;
    --purple-5: 163, 7, 186;
    --red-4: 255, 104, 116;
    --red-5: 237, 73, 86;
    --red-6: 198, 35, 48;
    --red-7: 167, 3, 17;
    --refinement-section-height: 50px;
    --revamp-nav-bottom-toolbar-height: 50px;
    --revamp-feed-card-max-height: 835x;
    --revamp-feed-card-min-height: 835px;
    --revamp-feed-card-media-min-width: 390px;
    --revamp-feed-card-dense-padding: 16px;
    --revamp-feed-horizontal-padding-small-screen: 24px;
    --revamp-feed-horizontal-padding-large-screen: 32px;
    --revamp-feed-vertical-padding: 32px;
    --right-rail-width: 352px;
    --nav-wide-screen-min: 1920px;
    --scrollable-content-header-height-med: 49px;
    --scrollable-content-header-height: 44px;
    --search-box-height: 40px;
    --search-modal-height-expanded: 450px;
    --search-modal-height: 362px;
    --search-modal-top-offset: 12px;
    --search-result-height: 50px;
    --search-result-inline-top-offset: 60px;
    --search-result-list-width: 375px;
    --small-layout-max: 1079px;
    --small-layout-min: 800px;
    --story-gallery-preview-scale-correction: 2.5;
    --story-progressbar-update-tick: .1s;
    --story-swap-animation-duration: 350ms;
    --system-10-font-size: 10px;
    --system-10-line-height: 12px;
    --system-11-font-size: 11px;
    --system-11-line-height: 13px;
    --system-12-font-size: 12px;
    --system-12-line-height: 16px;
    --system-14-font-size: 14px;
    --system-14-line-height: 18px;
    --system-16-font-size: 16px;
    --system-16-line-height: 24px;
    --system-18-font-size: 18px;
    --system-18-line-height: 24px;
    --system-20-line-height: 25px;
    --system-22-font-size: 22px;
    --system-22-line-height: 26px;
    --system-24-font-size: 24px;
    --system-24-line-height: 27px;
    --system-26-font-size: 26px;
    --system-26-line-height: 28px;
    --system-28-font-size: 28px;
    --system-28-line-height: 32px;
    --system-32-font-size: 32px;
    --system-32-line-height: 40px;
    --tos-box-shadow: 0, 0, 0;
    --web-always-black: 0, 0, 0;
    --web-always-white: 255, 255, 255;
    --web-overlay-on-media: 38, 38, 38;
    --web-secondary-action: 224, 241, 255;
    --yellow-5: 253, 203, 92;
}
:root, .__ig-light-mode {
    --fds-black: #000000;
    --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
    --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
    --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
    --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
    --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
    --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
    --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
    --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
    --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
    --fds-blue-05: #ECF3FF;
    --fds-blue-30: #AAC9FF;
    --fds-blue-40: #77A7FF;
    --fds-blue-60: #1877F2;
    --fds-blue-70: #2851A3;
    --fds-blue-80: #1D3C78;
    --fds-button-text: #444950;
    --fds-comment-background: #F2F3F5;
    --fds-dark-mode-gray-35: #CCCCCC;
    --fds-dark-mode-gray-50: #828282;
    --fds-dark-mode-gray-70: #4A4A4A;
    --fds-dark-mode-gray-80: #373737;
    --fds-dark-mode-gray-90: #282828;
    --fds-dark-mode-gray-100: #1C1C1C;
    --fds-gray-00: #F5F6F7;
    --fds-gray-05: #F2F3F5;
    --fds-gray-10: #EBEDF0;
    --fds-gray-20: #DADDE1;
    --fds-gray-25: #CCD0D5;
    --fds-gray-30: #BEC3C9;
    --fds-gray-45: #8D949E;
    --fds-gray-70: #606770;
    --fds-gray-80: #444950;
    --fds-gray-90: #303338;
    --fds-gray-100: #1C1E21;
    --fds-green-55: #00A400;
    --fds-highlight: #3578E5;
    --fds-highlight-cell-background: #ECF3FF;
    --fds-primary-icon: #1C1E21;
    --fds-primary-text: #1C1E21;
    --fds-red-55: #FA383E;
    --fds-soft: cubic-bezier(.08,.52,.52,1);
    --fds-spectrum-aluminum-tint-70: #E4F0F6;
    --fds-spectrum-blue-gray-tint-70: #CFD1D5;
    --fds-spectrum-cherry: #F35369;
    --fds-spectrum-cherry-tint-70: #FBCCD2;
    --fds-spectrum-grape-tint-70: #DDD5F0;
    --fds-spectrum-grape-tint-90: #F4F1FA;
    --fds-spectrum-lemon-dark-1: #F5C33B;
    --fds-spectrum-lemon-tint-70: #FEF2D1;

}
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  /* font-size: 13px; */
  /* font-family: var(--fon); */
  }
  .app{
    width: 100%;
    height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-system);
  /* background-color: #2851A3; */
  }
a{
  cursor: pointer;
  text-decoration: none;
}
button{
  border: none;
}