.forgetPasswordPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.iconContainer {
  align-items: center;
  background-color: rgb(var(--ig-primary-background));
  border-bottom: 1px solid rgb(var(--ig-elevated-separator));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: var(--desktop-nav-height);
  transition: height 0.2s ease-in-out;
  width: 100%;
}

.forgetPasswordIcon {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 60px;
  justify-content: flex-start;
  max-width: calc(935px + 40px);
  padding: 0 20px;
  transition: height 0.2s ease-in-out;
  width: 100%;
  /* z-index: 10; */
}

.forgetPasswordIcon > img {
  align-items: stretch;
  /* border: 0; */
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  position: relative;
  transition: opacity 0.1s ease-out;
}

.forgetPasswordContainer {
  background-color: rgb(var(--ig-primary-background));
  border: 1px solid rgb(var(--ig-elevated-separator));
  border-radius: 3px;
  margin: 60px auto 0;
  max-width: 388px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
csss
*/
.lockIconContainer {
  width: 100%;
  margin-top: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: center;
 
}
.lockIconImg{
  background-image: url('/public/images/lock.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px
}


.troubleLoggingHeading{
    align-content: stretch;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    align-self: auto;
    justify-content: flex-start;
    margin: 0px 44px 16px 44px;
  }
  .troubleLoggingHeading>span{
    line-height: var(--base-line-clamp-line-height);
    --base-line-clamp-line-height: 20px;
    font-size: var(--system-16-font-size);
    font-weight: 600; 
    text-align: center;
    color: rgb(var(--ig-primary-text));
    font-family: var(--font-family-system);
    max-width: 100%;    
  }





  .instructionsForgetPassword {
    max-width: 100%;  
    margin: 0px 44px 16px 44px ; 
  display: flex;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  }

  .instructionsForgetPassword>span{
      line-height: var(--base-line-clamp-line-height);
      --base-line-clamp-line-height: 18px;
      font-size: var(--system-14-font-size);
      font-weight: 400; 
      text-align: center;
      color: rgb(var(--ig-secondary-text));
      font-family: var(--font-family-system);
      max-width: 100%;     
  }


/* input field  */
.forgetPasswordInput{
  max-width: 100%;
   box-sizing: border-box;
   margin-left: 44px;
    display: flex;
    margin-bottom: 16px;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
    margin-right: 44px;
}


/* button container and link */
.sendBtnLinkContainer{
  min-width: 77.5%;
  display: flex;
  margin: 0px 44px 16px 44px;
  flex-direction: column;
}

/* send link button */
.sendLinkBtn{
  font-weight: var(--font-weight-system-semibold);
  appearance: none;
  text-overflow: ellipsis;
  justify-content: center;
  border-top-color: var(--always-dark-overlay);
  border-bottom-left-radius: 8px;
border-top-right-radius: 8px;
border-right-color: var(--always-dark-overlay);
cursor: pointer;
color: rgb(var(--web-always-white));
user-select: none;
display: flex;
align-items: center;
border-bottom-right-radius: 8px;
border-left-color: var(--always-dark-overlay);
background-color: rgb(var(--ig-primary-button));
outline-style: none;
  border-bottom-style: none;
  padding-left: 16px;
  padding-right: 16px;
  border-top-left-radius: 8px;
  opacity: .7;
  font-size: .875rem;
  line-height: var(--system-14-line-height);
  width: auto;
  height: 32px;
  list-style: none;
  text-decoration: none;
  outline: none;

}
.sendBtnLinkContainer> a:visited{
  color: rgb(var(--ig-link));
  text-decoration: none;
}

.sendBtnLinkContainer>a {
  color: rgb(var(--ig-link));
    text-decoration: none;
    color: rgb(var(--ig-link));
    font-size: var(--system-12-font-size);
    line-height: var(--system-12-line-height);
    margin-top: 12px!important;
    text-align: center!important;
    cursor: pointer;
  }



  .horizontalOptionLine{
  min-width: 77.5%;
  margin: 0px 44px;  
  }


  /* create new account */
  .createNewAccountOption{
    flex-direction: column;
    margin-left: 44px;
    display: flex;
    margin-bottom: 16px;
    margin-right: 44px;
  }

  .createNewAccountOption>a,a:visited{
    /* color: rgb(var(--ig-link)); */
    color: #262626;
    text-decoration: none;
  }
  .createNewAccountOption>a{

    display: flex;
  flex-direction: row;
    font-weight: var(--font-weight-system-semibold);
    font-family: var(--font-family-system);

    height: auto;
    justify-content: center;

    align-items: center;
    cursor: pointer;
    font-size: .875rem;
    padding: 0;
    margin: 0;
    appearance: none;
   
    box-sizing: border-box;

    line-height: var(--system-14-line-height);
    width: auto;
  


  }

/* btn back login */
.backLoginBtnCont{
  margin-top: 68px;
  flex-direction: column;
  display: flex;
  position: static;
  min-width: 100%;
}

.backloginBtn{
  background-color: rgb(var(--ig-secondary-background));
  height: 44px;
  border: 1px solid rgb(var(--ig-separator));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.backloginBtn>a,a:visited{
  color: rgb(var(--ig-link));
  text-decoration: none;
}



.backloginBtn>a{
  color: #262626;
  font-weight: var(--font-weight-system-semibold);
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: .875rem;



}
.backloginBtn>a:hover{
  color: rgb(var(--ig-secondary-text));
}







/* second page of robot captacha screen */
.robotCapcthaNavBarCont{
align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 60px;
  justify-content: flex-start;
  max-width: calc(935px + 40px);
  padding: 0 20px;
  transition: height 0.2s ease-in-out;
  width: 100%;


}

.robotCapcthaNavBar{
  align-items: center;
  background-color: rgb(var(--ig-primary-background));
  border-bottom: 1px solid rgb(var(--ig-elevated-separator));
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  height: var(--desktop-nav-height);
  transition: height 0.2s ease-in-out;
  width: 100%;
}








.robotCapcthaNavBarLeft{
  width: 50%;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: flex-start;
  max-width: calc(935px + 40px);
  padding: 0 20px;
  transition: height 0.2s ease-in-out;
 
}
.robotCapcthaNavBarLeft>img{
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  position: relative;
  transition: opacity 0.1s ease-out;
}
.robotCapcthaNavBarRight{
  width: 50%;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: flex-end;
  max-width: calc(935px + 40px);
  padding: 0 20px;
  transition: height 0.2s ease-in-out;
}
.robotCapcthaNavBarRight>a{
text-decoration: none;
color:#262626 ;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* margin: -6px 0 -6px; */

}


.robotCaptchaContainer{
  max-width: 360px;
  width: 360px;
  background-color: rgba(245, 248, 248, 0.964);
  /* background-color: rgb(var(--ig-primary-background)); */
  border: 1px solid rgb(var(--ig-elevated-separator));
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* margin-top: 44px; */
  margin:  80px 0px 0px 0px;
}


.robotCaptchaContainerContent{
  margin-bottom: 16px;
}
.robotCaptchaContent1{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
}
.robotCaptchaContentHeading{
  font-weight: 300;
  color: rgba(var(--i1d,38,38,38),1);
  font-size: 22px;
    line-height: 26px;
    margin: -4px 0 -5px;
}


.robotCaptchaContentDes1{
  padding: 24px 0px;
  text-align: center;
  color: rgba(var(--i1d,38,38,38),1);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: -6px 0 -6px;
}

.robotCaptchaContentDes2{
  text-align: center;
  color: rgba(var(--i1d,38,38,38),1);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: -6px 0 -6px;
}


/* capac inpurt */
.robotCaptchaContentInputCont{margin-top: 10px;
  background-color: #f5f8f8;
  width: 90%;
  height: 70px;
  border: 1px solid rgb(var(--ig-elevated-separator));
display: flex;
padding: 15px;
align-items: center;

}
.robotCaptchaContentInputCont>input{
  width: 20px;
  height: 20px;
margin-right: 15px;
}

.robotCaptchaContentDes3{
  margin: 10px 16px 0px 16px;
font-size: 12px;
color: rgb(var(--ig-secondary-text));
}



.robotCaptchaNextBtnCont{
  flex-direction: column;
  display: flex;
  position: static;
  min-width: 100%;
}



.BTTTT2222{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid rgb(var(--ig-elevated-separator));
}


.BTTTT{
  margin: 16px;
  background-color: #0095f6;
  background-color: rgba(var(--d69,0,149,246),1);
  padding: 10px 18px;
  color: rgba(var(--eca,255,255,255),1);
  font-weight: 600;
border-radius: 5px;
}


.smsSendHeadingCont{


  margin-top: 40px;

  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 24px;

}

.smsSendHeadingCont>h4{

  text-align: center;
  display: block;
  color: #262626;
  color: rgba(var(--i1d,38,38,38),1);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: -6px 0 -6px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}

.smsSendContentCont{

   margin-right: 40px;
      margin-left: 40px;
      margin-bottom: 24px;
  

}
.smsSendContentCont>p{

  text-align: center;
  display: block;
  color: #8e8e8e;
  color: rgba(var(--f52,142,142,142),1);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}



.smsSendButtonCont{


 
    margin-right: 40px;

    margin-left: 40px;

    margin-bottom: 32px;

}
.smsSendButtonCont>button{

 color: #0095f6;
  color: rgba(var(--d69,0,149,246),1);
  display: inline-block;
  padding: 0;
  position: relative;

 cursor: pointer;
  display: block;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  width: auto;
  background-color: transparent;
}

