.homePage{
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
justify-content: space-between;
}
.leftContainer{
  width: 14%;
  min-width: 244px;
}
.rightContainer{
  width: 86%;
  display: flex;
  flex-direction: column;
  align-items: center;
align-items: center;
}


@media only screen and (max-width: 1260px) {
  .leftContainer{
    width: 0.5%;
  min-width: 0px;
  align-items: center;
  }
  .rightContainer{
    width: 95%;

  }
  
}
